<div class="profile">
    <div>
        <h3 class="blue">Reset password</h3>
        <p>Reset your password</p>
    </div>
    
</div>
<div class="line"></div>
<div class="form-bg">
    <div class="success-popup" *ngIf="success">Password successfully updated</div>
    <div class="error-popup" *ngIf="incorrectPassword">Incorrect password!</div>
    <div class="error-popup" *ngIf="samePassword">The new password cannot be the same as the old password.</div>
    <form (ngSubmit)="onSubmit()" [formGroup]="resetForm">
        <div class="form-container">
            <label class="label" for="oldPassword">Old password</label>
            <div class="input-div">
                <input  class="field-input"[type]="inputTypePass ? 'text': 'password'" formControlName="oldPassword">
                <span class="show" (click)="showPassword()">{{passtype}}</span>
            </div>
            <div class="error" *ngIf="(submitted || f.oldPassword.dirty) && f.oldPassword.errors">
                <span class="danger" *ngIf="f.oldPassword.errors['required']"> Old passsword is required</span>
                
            </div>
            
        </div>
        
        <div  class="form-container">
            <label class="label" for="password">Password</label>
            <div class="input-div">
                <input class="field-input" [type]="inputTypeNewPass ? 'text': 'password'" formControlName="password">
                <span class="show" (click)="showPasswordNewPass()">{{newPasstype}}</span>
            </div>
            <span class="danger" *ngIf="(f.password.dirty || submitted) && !requiredValid">New password is required</span>
            <div class="error" *ngIf="requiredValid">
                <span class="danger" *ngIf="!minLengthValid"> Must be at least 8 characters long</span>
                <span class="danger" *ngIf="!requiresDigitValid">Must contain at least 1 digit</span>
                <span class="danger" *ngIf="!requiresUppercaseValid">Must contain at least 1 uppercase character</span>
                <span class="danger" *ngIf="!requiresLowercaseValid">Must contain at least 1 lowercase character</span>
                <span class="danger" *ngIf="!requiresSpecialCharsValid"> Must contain at least 1 special character</span>
                
            </div>
            
        </div>
        <div  class="form-container">
            <label class="label" for="confirmPassword">Confirm password</label>
           <div class="input-div">
            <input class="field-input" [type]="inputTypeNewPassConfirm ? 'text': 'password'" formControlName="confirmPassword">
            <span class="show" (click)="showPasswordNewPassConfirm()">{{newPassConfirmtype}}</span>
        </div>
            <div class="error" *ngIf="(submitted || f.confirmPassword.dirty) && f.confirmPassword.errors">
                <span class="danger" *ngIf="f.confirmPassword.errors['required']">Confirm password</span>
                <span class="danger" *ngIf="f.confirmPassword.errors['minLength']">Password must be at least 8 characters long</span>
                <span class="danger" *ngIf="f.confirmPassword.errors['mismatch']">Passwords do not match</span>
            </div>
        </div>
       
        <input class="submit-btn"  type="submit" value="Reset">
    </form>
   
</div>

